body {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}  
.img {
     background-size: 300px 100px;
     width: 650px;
     border: 7px dashed darkblue;
}
.twoimg {
    width:650px;
    border: 7px dotted black;
}
.thrimg {
    width:650px;
    height: 600px;
    border: 7px solid skyblue;
}
.forimg {
    border: 15px groove purple; 
} 
.fivimg {
    width:500px;
    padding: 110px;
}
.Submit {
    color:black;
}






